body {
  background: #f4f4f4;
  /*overflow: hidden;*/
}
header {
  background: #a4a4a4;
  /*position: fixed;*/
}
.nav i {
  float: left;
  width: 12%;
  font-size: 1.2rem;
  color: black;
}
.nav b {
  float: left;
  width: 12%;
  font-size: 0.6rem;
}
.nav-cen {
  float: left;
  width: 76%;
  height: 100%;
}
.nav-cen em {
  display: inline-block;
  width: 20%;
  height: 1rem;
  margin-top: 0.25rem;
  line-height: 1rem;
  font-size: 0.7rem;
}
.current {
  background: orange;
  border-radius: 0.5rem;
  color: #fff;
}
.section-z {
  display: block;
  width: 100%;
  background: #f4f4f4;
  /*height: 100%;*/
  overflow: hidden;
  /*margin-top: 3rem;*/
}
.sec-1 {
  width: 100%;
  height: 20rem;
  background: #fff;
  overflow: hidden;
}
.sec-img {
  width: 90%;
  margin-left: 5%;
  height: 8rem;
  background: #daa3ac;
  margin-top: 0.5rem;
}
.sec-me {
  width: 100%;
  height: 10rem;
  background: #fff;
  margin-top: 1rem;
}
.sec-me-top {
  width: 90%;
  height: 3.5rem;
  margin-left: 5%;
  border-bottom: 2px solid #f4f4f4;
}
.sec-me-top>img {
  float: left;
  width: 20%;
}
.sec-me-top span {
  float: left;
  width: 75%;
  height: 100%;
  margin-left: 5%;
}
.sec-me-top span i {
  float: left;
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.7rem;
}
.sec-me-top span em {
  float: left;
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.5rem;
  color: #a4a4a4;
}
.sec-me-top span i img {
  width: 8%;
  vertical-align: middle;
  margin-left: 3%;
}
.sec-me-bot {
  width: 90%;
  height: 5.5rem;
  margin-left: 5%;
  margin-top: 1rem;
}
.sec-me-bot span {
  float: left;
  width: 65%;
  height: 100%;
}
.sec-me-bot>i {
  float: left;
  width: 35%;
  height: 100%;
  font-size: 0.7rem;
  text-align: center;
}
.sec-me-bot>i img {
  float: left;
  width: 70%;
  margin-left: 15%;
}
.sec-me-bot>i em {
  float: left;
  width: 100%;
  height: 1.5rem;
  line-height:1.5rem;
  font-size: 0.65rem;
}
.sec-me-bot span>i {
  float: left;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 0.9rem;
}
.sec-me-bot span>i>em {
  font-size: 1.2rem;
  color: orange;
}
.sec-me-bot span>em {
  float: left;
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.65rem;
}
.sec-2 {
  margin-top: 0.5rem;
  width: 100%;
  height: 7rem;
  background: #fff;
}
.sec-2-cen {
  width: 90%;
  height: 100%;
  margin-left: 5%;
}
.sec-2-top {
  float: left;
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.7rem;
  font-weight: bold;
}
.sec-2-top img {
  width: 6%;
  vertical-align: middle;
}
.sec-3 {
  margin-top: 0.5rem;
  width: 100%;
  height: 30rem;
  background: #fff;
}
.sec-3-con {
  float: left;
  width: 100%;
  height: 7rem;
}
.sec3left {
  float: left;
  width: 49%;
  height: 99%;
  border: 1px solid #f4f4f4;
  border-left: none;
}
.img {
  width: 60%;
  margin: 10% 18%;
}
.sec3right {
  float: left;
  width: 50%;
  height: 100%;
  border: 1px solid #f4f4f4;
  border-right: none;
  border-left: none;
}
.r {
  width: 90%;
  margin-left: 10%;
  height: 100%;
}
.r i {
  float: left;
  width: 100%;
  margin-top: 0.2rem;
  font-size: 0.7rem;
  font-weight: bold;
}
.r b {
  float: left;
  width: 100%;
  color: orange;
  font-weight: bold;
}
.r em {
  float: left;
  width: 100%;
  height: 4rem;
  line-height: 1rem;
  font-size: 0.6rem;
  color: #a4a4a4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.sec-4 {
  width: 100%;
  height: 60rem;
  margin-top: 0.5rem;
  background: #fff;
}
.sec-4-con {
  float: left;
  width: 100%;
  height: 14rem;
  border-bottom: .5rem solid #f4f4f4;
}
.title {
  margin-top: 0.5rem;
  float: left;
  width: 100%;
  height: 3rem;
  line-height: 1rem;
  font-size: 0.7rem;
  font-weight: bold;
}
.title img {
  float: left;
  width: 13%;
  vertical-align: middle;
}
.title span {
  float: left;
  width: 80%;
  height: 100%;
  margin-left: 5%;
}
.text {
  float: left;
  width: 100%;
  height: 10.5rem;
}
.text em {
  float: left;
  width: 80%;
  height: 100%;
  font-size: 0.6rem;
  text-align: justify;
  line-height: 1.2rem;
  color: #a4a4a4;
}
.text img {
  float: right;
  width: 12%;
}
.section-r {
  display: block;
  width: 100%;
  background: #f4f4f4;
  height: 100%;
  /*margin-top: 3rem;*/
}
.r-1 {
  width: 100%;
  height: 4.5rem;
  background: #fff;
}
.r-1 span {
  float: left;
  width: 22%;
  margin-left: 2.5%;
  height: 2rem;
  background: #a4a4aa;
  text-align: center;
  line-height: 2rem;
  font-size: 0.7rem;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  color: #fff;
}
.r-1 i {
  float: left;
  width: 90%;
  height: 2rem;
  line-height: 2rem;
  margin-left: 2%;
  font-size: 0.6rem;
  color: #a1a1a1;
}
.r-1 i em {
  color: orange;
}
.r-2 {
  width: 100%;
  height: 30rem;
}
.cur {
  border: 1px solid red;
  color: red;
  border-radius: 1rem;
}
.sec-paixu {
  margin-top: 0.5rem;
  width: 100%;
  height: 1.5rem;
  font-size: 0.6rem;
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
  color: #aaa;
}
.sec-paixu i {
  float: left;
  width: 27%;
  height: 1rem;
  margin-top: 0.22rem;
  text-align: center;
  line-height: 1rem;
}
.sec-paixu em {
  float: left;
  width: 13%;
  height: 1rem;
  margin-top: 0.22rem;
  text-align: center;
  line-height: 1rem;
}
.r-2-con {
  width: 100%;
  height: 10.5rem;
  float: left;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #f4f4f4;
  background: #fff;
}
.r-2-con i {
  float: left;
  width: 90%;
  height: 2rem;
  line-height: 2rem;
  font-weight: bold;
  margin-left: 5%;
  font-size: 0.7rem;
}
.r-2-con b {
  float: left;
  width: 90%;
  height: 1rem;
  line-height: 1rem;
  margin-left: 5%;
  font-size: 0.6rem;
  color: #a4a4a4;
}
.r-2-con em {
  float: left;
  width: 90%;
  margin-left: 5%;
  font-size: 0.7rem;
  height: 2rem;
  line-height: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.r-2-con img {
  width: 5rem;
  margin-left: 5%;
}
.r-2-con .r-2-con-img {
  width: 90%;
  margin-left: 5%;
  height: 7rem;
}
.r-1 span.c {
  background: orange;
}
footer {
  width: 100%;
  height: 2rem;
  background: #f4f4f4;
}
footer i{
  float: left;
  width: 30%;
  margin-left: 2%;
  height: 100%;
  line-height: 2rem;
  text-align: center;
  font-size: 0.6rem;
}
footer span {
  float: left;
  width: 30%;
  margin-left: 2%;
  height: 80%;
  line-height: 2rem;
  text-align: center;
  font-size: 0.6rem;
  margin-top: 1%;
  background: #fff;
  border: 1px solid #a4a4a4;
  border-radius: 0.2rem;
}
footer span img {
  float: left;
  width: 20%;
  vertical-align: middle;
  margin-left: 5%;
}
footer span em {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 1.5rem;
  margin-left: 0.2rem;
}
