header {
  background: #d76c28;
}
.nav {
  text-align: left;
}
.nav i {
  font-size: 1.2rem;
  color: #fff;
  margin-left: 2%;
}
section {
  width: 100%;
  height: 91%;
  background: #f4f4f4;
}
.sec-1 {
  width: 100%;
  height: 5rem;
  background: #d76c28;
  overflow: hidden;
}
.sec-1>div {
  width: 33.33%;
  height: 100%;
  text-align: center;
  float: left;
  font-size: 0.6rem;
  color: #fff;
}
.sec-1-j img {
  display: block;
  margin: 0.5rem auto;
  width: 2.5rem;
  margin-top: 0.5rem;
}
.sec-1-a img {
  display: block;
  margin: 0 auto;
  width: 3rem;
  margin-bottom: 0.5rem;
}
.sec-1-t img {
  display: block;
  margin: 0.5rem auto;
  width: 2.5rem;
}
.sec-nav {
  width: 100%;
  height: 2.5rem;
  background: #fff;
  margin: 0.5rem auto;
  overflow: hidden;
}
.nav-list {
  width: 90%;
  height: 1.5rem;
  margin: 0.5rem auto;
}
.nav-list span {
  float: left;
  width: 33.33%;
  height: 100%;
  text-align: center;
  font-size: 0.6rem;
  line-height: 1.5rem;
  border: 1px solid #d76c28;
}
@media (min-width:320px) and (max-width:375px) {
  .nav-list span {
    float: left;
    width: 32.33%;
    height: 100%;
    text-align: center;
    font-size: 0.6rem;
    line-height: 1.5rem;
    border: 1px solid #d76c28;
  }
}
.nav-list span:nth-child(2) {
  border-right: none;
  border-left: none;
  width: 32%;
}
.p1 {
  width: 100%;
  display: block;
}
.current {
  background: #d76c28;
  color: #fff;
}
.p1-list {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
}
.p1-list .p1ListLeft {
  float: left;
  width: 30%;
  height: 100%;
}
.p1-list .p1ListLeft img {
  width: 90%;
  height: 4rem;
}
.p1-list .p1ListCenter {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 0.7rem;
}
.p1-list .p1ListCenter i {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}
.p1-list .p1ListCenter em {
  display: block;
  color: #d76c28;
}
.p1-list .p1ListCenter span {
  display: block;
  width: 3rem;
  height: 1rem;
  border: 1px solid #d76c28;
  font-size: 0.6rem;
  text-align: center;
  line-height: 1rem;
  margin-top: 0.5rem;
  color: #d76c28;
}
.p1-list .p1ListRight {
  float: left;
  width: 20%;
  height: 100%;
}
.p1-list .p1ListRight img {
  width: 2.5rem;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}
.p2 {
  width: 100%;
  display: none;
}
.p3 {
  width: 100%;
  display: none;
}
