body {
  background: #f4f4f4;
}
header {
  background: #f4f4f4;
}
.nav em {
  text-align: center;
}
.nav i {
  float: left;
  font-size: 1.2rem;
  color: black;
  margin-left: 2%;
}
section {
  width: 100%;
}
.sec-1 {
  width: 100%;
  height: 4rem;
  background: #fff;
  border-bottom: 2px solid red;
}
.sec-1 img {
  float: left;
  width: 5%;
  margin-left: 2%;
  margin-top: 7%;
}
.sec-1 span {
  float: left;
  width: 76%;
  height: 100%;
  font-size: 0.7rem;
  margin-left: 0.5rem;
  font-weight: 500;
}
.sec-1 span i {
  float: left;
  width: 50%;
  height: 1.5rem;
  line-height: 1.5rem;
}
.sec-1 span em {
  float: left;
  width: 50%;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: right;
}
.sec-1 span b {
  float: left;
  width: 100%;
  height: 2.5rem;
  line-height: 1.25rem;
  font-size: 0.6rem;
}
.sec-1>a>i {
  float: left;
  width: 13%;
  line-height: 4rem;
  text-align: center;
  font-size: 1.2rem;
  color: #a4a4a4;
}
.sec-2 {
  width: 100%;
  height: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid #fff;
}
.sec-2 img {
  float: left;
  width: 18%;
  margin-left: 2%;
  margin-top: 2%;
}
.sec-2 span {
  float: left;
  width: 78%;
  height: 100%;
  margin-left: 2%;
  font-size: 0.6rem;
}
.sec-2 span i {
  float: left;
  width: 100%;
  height: 50%;
  line-height: 1.8rem;
}
.sec-2 span em {
  float: left;
  width: 50%;
  height: 50%;
  line-height: 2.2rem;
}
.sec-2 span b {
  float: left;
  width: 46%;
  height: 50%;
  text-align: right;
  line-height: 2.2rem;
}
.sec-3 {
  position: relative;
  width: 100%;
  height: 2rem;
  background: #fff;
  line-height: 2rem;
  font-size: 0.6rem;
}
.sec-3 span {
  float: left;
  width: 50%;
  margin-left: 2%;
  height: 100%;
  border-bottom: 1px solid #eee;
}
.sec-3 i {
  float: left;
  width: 46%;
  text-align: right;
  height: 100%;
  border-bottom: 1px solid #eee;
}
.sec-3 i b {
  font-size: 0.9rem;
  color: #a4a4a4;
}
.sec-3>i>input {
  position: absolute;
  top: 0;
  left: 22%;
  width: 50%;
  height: 1.5rem;
  border: none;
  outline: none;
  font-size: 0.6rem;
  margin-top: 0.4rem;
}
.gw_num {
  height: 1.5rem;
  margin-top: 0.25rem;
  width: 50%;
  line-height: 1.5rem;
  overflow: hidden;
  float: right;
}
.gw_num em {
  display: block;
  height: 1.5rem;
  width: 33.333%;
  float: left;
  color: #7A7979;
  text-align: center;
  cursor: pointer;
  background: #eee;
}
.gw_num .num {
  display: block;
  float: left;
  text-align: center;
  width: 31%;
  font-style: normal;
  font-size: 0.6rem;
  line-height: 1.5rem;
  border: 0;
}
.gw_num em.add{
  float: right;
  border-right: 0;
}
.sec-4 {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
}
.sec-4 img {
  float: left;
  width: 4%;
  margin-left: 2%;
  vertical-align: middle;
  margin-top: 3.5%;
}
.sec-4 i {
  text-indent: 1em;
  float: left;
  width: 50%;
  height: 2rem;
  font-size: 0.5rem;
  font-weight: 100;
}
footer {
  height: 2.5rem;
}
footer span {
  float: left;
  width: 65%;
  height: 100%;
  text-align: right;
  margin-top: 0;
}
footer span em {
  display: inline-block;
  width: 30%;
  height: 100%;
  line-height: 2.5rem;
  text-align: center;
  font-size: 0.7rem;
  color: red;
}
footer span i {
  display: inline-block;
  width: 15%;
  height: 100%;
  line-height: 2.5rem;
  text-align: center;
  font-size: 0.6rem;
  color: black;
}
footer>em {
  float: left;
  width: 35%;
  background: orange;
  line-height: 2.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
}
.kf-a {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.5);
}
.kf-t {
  width: 80%;
  height: 6rem;
  background: #fff;
  margin-left: 10%;
  border-radius: 1rem;
  margin-top: 50%;
}
.one {
  float: left;
  width: 100%;
  height: 2rem;
  font-size: 0.7rem;
}
.one i {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2rem;
}
.one i em {
  float: right;
  width: 20%;
  line-height: 100%;
  text-align: center;
  line-height: 2rem;
  font-size: 0.6rem;
  font-weight: 600;
}
.two {
  border-top: 1px solid #eee;
  float: left;
  width: 100%;
  height: 2rem;
  font-size: 0.6rem;
}
.two i {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 2rem;
  text-indent: 1em;
}
.two b {
  float: left;
  width: 42%;
  height: 100%;
  line-height: 2rem;
  text-align: right;
}
.two b img {
  width: 10%;
}
.kf-t>em {
  border-top: 1px solid #eee;
  float: left;
  width: 50%;
  height: 1.9rem;
  line-height: 2rem;
  text-align: center;
  font-size: 0.6rem;
}
.kf-t>em:last-child {
  width: 49%;
  border-left: 1px solid #eee;
  color: red;
}
